{% extends 'base.html' %}

{% block title %}Sahel Box | Mes Contacts{% endblock %}

{% block content %}
<h1 class="text-xl md:text-2xl lg:text-3xl font-bold mb-4 text-[#027991]">
    <a href="{% url 'my-contacts' %}">Mes Contacts</a>
</h1>

<div>
    <div>
        <button id="addNewContactBtn"
            class="bg-[#027991] hover:bg-[#016073] text-white text-sm px-4 py-1.5 font-semibold">
            Nouveau Contact
        </button>

        <dialog id="addNewContactDialog"
            class="min-w-[400px] max-w-md p-6 rounded-md shadow-md w-full max-w-md fixed inset-0 m-auto bg-white">
            <form method="post" action="{% url 'create-new-contact' %}?group={{group.id}}" class="space-y-2">
                {% csrf_token %}

                <h5>Ajouter un contact</h5>

                <div class="grid grid-cols-2 gap-2">
                    <input type="text" name="last_name" class="w-full border border-gray-300 px-3 py-2" required
                        placeholder="Nom" maxlength="80">

                    <input type="text" name="first_name" class="w-full border border-gray-300 px-3 py-2" required
                        placeholder="Prénom" maxlength="80">
                </div>

                <input type="email" name="email" class="w-full border border-gray-300 px-3 py-2"
                    placeholder="Adresse e-mail" required>

                <button type="button" id="closeAddNewContactBtn"
                    class="mr-4 border-4 border-gray-200 bg-white hover:bg-gray-100 text-gray-700 font-semibold py-1.5 px-4">Annuler</button>

                <button type="submit"
                    class="mt-4 bg-[#027991] hover:bg-[#016073] text-white font-bold py-2 px-4 border border-black">Ajouter</button>
            </form>
        </dialog>
    </div>

    <div class="grid md:grid-cols-[3fr_1fr] sm:grid-cols-1 gap-2 mt-4">
        <div class="w-full">
            <form action="#" method="POST" class="flex items-center w-full">
                {% csrf_token %}
                <input type="text" name="search_term" placeholder="Entrer le nom ou adresse e-mail"
                    class="flex-grow border border-gray-300 rounded-l-md px-3 py-2 text-sm outline-none" required
                    maxlength="1500" />
                <button type="submit"
                    class="bg-[#027991] hover:bg-[#016073] text-white text-sm px-4 py-2 font-semibold">
                    Chercher
                </button>
            </form>
        </div>
    </div>

    <div class="grid md:grid-cols-[3fr_1fr] sm:grid-cols-1 gap-2 mt-4">
        <div>
            <table class="border-b border-gray-300 w-full" id="file-table">
                <thead class="bg-gray-200">
                    <tr>
                        <th class="px-4 py-2 text-left text-md text-gray-600 font-semibold">
                            Contact
                        </th>
                        <th class="w-[32%] text-left text-md text-gray-600 font-semibold">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white">

                    {% for contact in contacts %}
                    <tr class="shadow shadow-sm group hover:bg-gray-50 hover:text-[#027991]">
                        <td class="px-4 py-2 text-md">
                            <a href="#"
                                class="text-[#027991] hover:text-[#016073] font-semibold shrink-0">{{contact.full_name}}</a>
                            <p class="text-sm text-gray-500">{{contact.email}}</p>
                        </td>

                        <td class="px-4 py-2 text-sm flex items-center space-x-3">

                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

            {% if contacts %}
            <div class="mt-4 flex gap-2">
                {% if contacts.has_previous %}
                <a href="?page={{ contacts.previous_page_number }}#file-table"
                    class="px-2 py-1 mr-3 border border-gray-200 text-gray-600 text-sm">Page Précédente</a>
                {% endif %}

                <span class="mr-3 py-1 text-gray-600 text-sm ">Page {{ contacts.number }} sur
                    {{contacts.paginator.num_pages}}</span>

                {% if contacts.has_next %}
                <a href="?page={{ contacts.next_page_number }}#file-table"
                    class="px-2 py-1 border border-gray-200 text-gray-600 text-sm">Page Suivante</a>
                {% endif %}
            </div>
            {% else %}
            <div class="flex items-start p-4 bg-yellow-100 border border-yellow-300 text-yellow-800 rounded-lg space-x-3 mt-2"
                role="alert">
                <div class="text-sm">
                    <p>Vous n'avez aucun contact</p>
                </div>
            </div>
            {% endif %}
        </div>

        <div id="right-pane">
            {% if group %}
            <div id="group-details" class="mb-4">
                <table class="min-w-full border-b border-gray-300">
                    <thead class="bg-[#ffd500] hover:bg-[#F5CC00]">
                        <tr>
                            <th class="px-2 py-1 text-left text-sm font-semibold border-l-2 border-gray-200">
                                <span>{{group.name}}</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">

                        <tr class="shadow shadow-sm group">
                            <td class="px-2 py-1 text-sm text-gray-600">
                                <div class="flex items-center space-x-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="h-4 w-4 shrink-0">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                                    </svg>
                                    <span>{{ group.name }}</span>
                                </div>
                            </td>
                        </tr>

                        {% if group.description %}
                        <tr class="shadow shadow-sm group">
                            <td class="px-2 py-1 text-sm text-gray-600">
                                <div class="flex items-center space-x-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="h-4 w-4 shrink-0">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                                    </svg>
                                    <span>{{ group.description }}</span>
                                </div>
                            </td>
                        </tr>
                        {% endif %}

                        <tr class="shadow shadow-sm group">
                            <td class="p-2">
                                <button type="submit" id="editContactGroupBtn"
                                    class="border border-gray-600 px-2 py-1 text-gray-600 text-sm hover:bg-gray-50">Modifer</button>

                                <dialog id="editContactGroupDialog"
                                    class="min-w-[400px] max-w-md p-6 rounded-md shadow-md w-full max-w-md fixed inset-0 m-auto bg-white">
                                    <form method="post" action="{% url 'edit-contact-group' group.id %}">
                                        {% csrf_token %}

                                        <h2 class="text-xl font-bold mb-4">Modifier le Groupe</h2>
                                        <div>
                                            <div class="mb-2">
                                                <label class="block text-gray-600 text-sm font-semibold mb-2"
                                                    for="name">
                                                    Nom du grouope
                                                </label>
                                                <input
                                                    class="bg-white appearance-none border border-gray-200 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
                                                    id="name" name="name" type="text" maxlength="30"
                                                    placeholder="Nom du Dossier" required value="{{group.name}}">
                                            </div>

                                            <div class="mb-2">
                                                <label class="block text-gray-600 text-sm font-semibold mb-2"
                                                    for="description">
                                                    Description du groupe
                                                </label>
                                                <textarea
                                                    class="bg-white appearance-none border border-gray-200 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
                                                    id="description" name="description" maxlength="255"
                                                    placeholder="Description du Dossier">{{group.description|default:''}}</textarea>
                                            </div>
                                        </div>

                                        <button type="button" id="closeEditContactGroup"
                                            class="mr-4 border-4 border-gray-200 bg-white hover:bg-gray-100 text-gray-700 font-semibold py-1.5 px-4">Annuler</button>

                                        <button type="submit"
                                            class="mt-4 bg-[#027991] hover:bg-[#016073] text-white font-bold py-2 px-4 border border-black">Sauvegarder</button>
                                    </form>

                                    <form action="{% url 'delete-contact-group' group.id %}" method="post" class="mt-4">
                                        {% csrf_token %}
                                        <button type="submit" class="text-red-500 text-sm">Supprimer ce Groupe</button>
                                    </form>
                                </dialog>

                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            {% endif %}

            <div class="mb-4">
                <table class="min-w-full border-b border-gray-300">
                    <thead class="bg-[#90caf9]">
                        <tr>
                            <th class="px-2 py-1 text-left text-sm font-semibold border-l-2 border-gray-200">
                                {% if group %}
                                <span>Autres Groupes</span>
                                {% else %}
                                <span>Groupes</span>
                                {% endif %}
                            </th>
                        </tr>
                    </thead>
                    {% if groups %}
                    <tbody class="bg-white">
                        {% for group in groups %}
                        <tr class="shadow shadow-sm group hover:bg-gray-50">
                            <td class="px-2 py-1 text-sm text-gray-600">
                                <a href="{% url 'my-contacts' %}?group={{group.id}}"
                                    class="flex items-center space-x-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="h-4 w-4 shrink-0">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M18 18.72a9.094 9.094 0 0 0 3.741-.479 3 3 0 0 0-4.682-2.72m.94 3.198.001.031c0 .225-.012.447-.037.666A11.944 11.944 0 0 1 12 21c-2.17 0-4.207-.576-5.963-1.584A6.062 6.062 0 0 1 6 18.719m12 0a5.971 5.971 0 0 0-.941-3.197m0 0A5.995 5.995 0 0 0 12 12.75a5.995 5.995 0 0 0-5.058 2.772m0 0a3 3 0 0 0-4.681 2.72 8.986 8.986 0 0 0 3.74.477m.94-3.197a5.971 5.971 0 0 0-.94 3.197M15 6.75a3 3 0 1 1-6 0 3 3 0 0 1 6 0Zm6 3a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Zm-13.5 0a2.25 2.25 0 1 1-4.5 0 2.25 2.25 0 0 1 4.5 0Z" />
                                    </svg>
                                    <span>{{ group.name }}</span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% endif %}
                </table>

                {% if groups|length < 10 %} <button type="button" id="addNewContactGroup"
                    class="w-full text-sm border border-[#027991] text-[#027991] px-4 py-1 bg-white hover:bg-gray-50 mt-4">
                    Ajouter un Groupe</button>

                    {% endif %}

                    <dialog id="addNewContactGroupDialog"
                        class="min-w-[400px] max-w-md p-6 rounded-md shadow-md w-full max-w-md fixed inset-0 m-auto bg-white">
                        <form method="post" action="{% url 'create-contact-group' %}">
                            {% csrf_token %}

                            <h2 class="text-xl font-bold mb-4">Ajouter un Groupe</h2>
                            <div>
                                <div class="mb-2">
                                    <label class="block text-gray-600 text-sm font-semibold mb-2" for="name">
                                        Nom du grouope
                                    </label>
                                    <input
                                        class="bg-white appearance-none border border-gray-200 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
                                        id="name" name="name" type="text" maxlength="80" placeholder="Nom du Dossier"
                                        required>
                                </div>

                                <div class="mb-2">
                                    <label class="block text-gray-600 text-sm font-semibold mb-2" for="description">
                                        Description du groupe
                                    </label>
                                    <textarea
                                        class="bg-white appearance-none border border-gray-200 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
                                        id="description" name="description" maxlength="255"
                                        placeholder="Description du Dossier"></textarea>
                                </div>
                            </div>

                            <button type="button" id="closeAddNewContactGroup"
                                class="mr-4 border-4 border-gray-200 bg-white hover:bg-gray-100 text-gray-700 font-semibold py-1.5 px-4">Annuler</button>

                            <button type="submit"
                                class="mt-4 bg-[#027991] hover:bg-[#016073] text-white font-bold py-2 px-4 border border-black">Sauvegarder</button>
                        </form>
                    </dialog>


            </div>
        </div>
    </div>
</div>

{% endblock %}