{% extends 'base.html' %}

{% block title %}Sahel Box | Partage un fichier - {{file.display_name}}{% endblock %}

{% block content %}
<h1 class="text-xl md:text-2xl lg:text-3xl font-bold text-[#027991] mb-4">Partager un fichier</h1>

<div class="flex items-center space-x-2">
    {% include 'partials/record-icon.html' with display_type_group=file.display_type_group %}
    <h1 class="text-md md:text-lg lg:text-xl font-semibold text-gray-500">
        <a href="{% url 'file-details' file.slug %}" class="hover:text-[#027991]">
            {{file.display_name}}
        </a>
    </h1>
</div>

<div class="flex items-center space-x-2 mt-2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-6 text-gray-400">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
    </svg>

    <span>
        {% if file.folder %}
        <a href="{% url 'my-box' %}?dossier={{file.folder.slug}}" class="text-[#027991] hover:text-[#016073]">
            home/{{file.folder.full_path}}
        </a>
        {% else %}
        <a href="{% url 'my-box' %}?dossier={{file.folder.slug}}" class="text-[#027991] hover:text-[#016073]">home/</a>
        {% endif %}
    </span>
</div>

<div class="grid md:grid-cols-[5fr_3fr] sm:grid-cols-1 gap-2 mt-4">
    <div class="space-y-4">
        <div>

            {% if not file.active_shares %}
            <div class="flex items-start p-4 bg-yellow-100 border border-yellow-300 text-yellow-800 rounded-lg space-x-3"
                role="alert">
                <span class="text-sm">Ce dossier n’a encore été partagé avec personne</span>
            </div>
            {% else %}
            <table class="min-w-full border-b border-gray-300">
                <thead class="bg-gray-200">
                    <tr>
                        <th class="px-2 py-1 text-left text-lg font-semibold border-l-2 border-gray-200">
                            <span>Partagé avec</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white">

                    <tr class="shadow shadow-sm group">
                        {% for share in file.active_shares %}
                        <td class="px-2 py-1 text-sm text-gray-600">
                            <div class="flex items-center space-x-2">
                                <span>{{ share.contact.full_name }}</span>
                            </div>
                        </td>
                        {% endfor %}
                    </tr>

                </tbody>
            </table>
            {% endif %}
        </div>

        <div class="flex space-x-4">
            <Button type="button"
                class="shadow bg-white py-5 px-4 rounded-lg items-center flex space-x-4 w-full hover:bg-gray-50">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m18.375 12.739-7.693 7.693a4.5 4.5 0 0 1-6.364-6.364l10.94-10.94A3 3 0 1 1 19.5 7.372L8.552 18.32m.009-.01-.01.01m5.699-9.941-7.81 7.81a1.5 1.5 0 0 0 2.112 2.13" />
                </svg>

                <h4 class="text-lg font-semibold">Copier le lien</h4>
            </Button>
            <Button type="button"
                class="shadow bg-white py-5 px-4 rounded-lg items-center flex space-x-4 w-full hover:bg-gray-50">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15.75 17.25v3.375c0 .621-.504 1.125-1.125 1.125h-9.75a1.125 1.125 0 0 1-1.125-1.125V7.875c0-.621.504-1.125 1.125-1.125H6.75a9.06 9.06 0 0 1 1.5.124m7.5 10.376h3.375c.621 0 1.125-.504 1.125-1.125V11.25c0-4.46-3.243-8.161-7.5-8.876a9.06 9.06 0 0 0-1.5-.124H9.375c-.621 0-1.125.504-1.125 1.125v3.5m7.5 10.375H9.375a1.125 1.125 0 0 1-1.125-1.125v-9.25m12 6.625v-1.875a3.375 3.375 0 0 0-3.375-3.375h-1.5a1.125 1.125 0 0 1-1.125-1.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H9.75" />
                </svg>

                <h4 class="text-lg font-semibold">Envoyer une copie</h4>
            </Button>
        </div>
    </div>
    <div>
        <div style="max-height: 600px;">
            <table class="min-w-full border-b border-gray-300">
                <thead class="bg-[#90caf9]">
                    <tr>
                        <th class="px-2 py-1 text-left text-lg font-semibold border-l-2 border-gray-200">
                            <span>Mes Contacts</span>
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    {% if contacts %}
                    {% for contact in contacts %}
                    <tr class="shadow shadow-sm group">
                        <td class="px-2 py-1">
                            <div class="">
                                <p class="font-semibold text-gray-600">{{ contact.full_name }}</p>
                                <p class="text-sm text-gray-400">{{ contact.phone_number }}</p>
                                <p class="text-sm text-gray-400">{{ contact.email }}</p>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>

        {% if not contacts %}
        <div class="flex items-start p-4 bg-yellow-100 border border-yellow-300 text-yellow-800 rounded-lg space-x-3 mt-4"
            role="alert">
            <span class="text-sm">Vous n'avez aucun contact enregistré</span>
        </div>
        {% endif %}

        <div class="bg-white px-2 py-1 mt-4">
            <form method="post" action="{% url 'create-new-contact' %}?file={{file.slug}}"
                class="space-y-2 max-w-3xl mb-8">
                {% csrf_token %}

                <h5>Ajouter un contact</h5>

                <div class="grid grid-cols-2 gap-2">
                    <input type="text" name="last_name" class="w-full border border-gray-300 px-3 py-2" required
                        placeholder="Nom de famille" maxlength="80">

                    <input type="text" name="first_name" class="w-full border border-gray-300 px-3 py-2" required
                        placeholder="Prénom" maxlength="80">
                </div>

                <div class="grid grid-cols-2 gap-2">

                    <input type="phone" name="phone_number" class="w-full border border-gray-300 px-3 py-2" required
                        placeholder="Numéros de téléphon" maxlength="20">

                    <input type="email" name="email" class="w-full border border-gray-300 px-3 py-2"
                        placeholder="Adresse e-mail">
                </div>

                <button type="submit" class="bg-[#027991] hover:bg-[#016073] text-white font-bold py-2 px-4">
                    Ajouter
                </button>
            </form>
        </div>
    </div>
</div>


{% endblock %}