{% extends 'base.html' %}

{% block title %}Sahel Box | Partage de dossier - {{folder.display_name}}{% endblock %}

{% block content %}
<h1 class="text-xl md:text-2xl lg:text-3xl font-bold text-[#027991] mb-4">Partager un dossier</h1>

<div class="flex items-center space-x-2">
    <h1 class="text-md md:text-lg lg:text-xl font-semibold text-gray-500">
        <a href="{% url 'my-box' %}?folder={{folder.slug}}" class="hover:text-[#027991]">
            {{folder.display_name}}
        </a>
    </h1>
</div>

<div class="flex items-center space-x-2 mt-2">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="size-6 text-gray-400">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
    </svg>

    <span>
        <a href="{% url 'my-box' %}?dossier={{folder.slug}}" class="text-[#027991] hover:text-[#016073]">
            box/{{folder.full_path}}
        </a>
    </span>
</div>

<div class="grid grid-cols-1 md:grid-cols-[2fr_1fr] gap-2 mt-4">
    <div class="space-y-4">
        <div class="max-h-96 overflow-y-auto">
            {% if not folder.get_unique_share_records_with_access %}
            <div class="flex items-start p-4 bg-yellow-100 border border-yellow-300 text-yellow-800 rounded-lg space-x-3"
                role="alert">
                <span class="text-sm">Ce dossier n’a encore été partagé avec personne</span>
            </div>
            {% else %}
            <table class="min-w-full border-b border-gray-300">
                <thead class="bg-gray-200">
                    <tr>
                        <th class="px-2 py-1 text-left text-lg font-semibold border-l-2 border-gray-200">
                            {% if folder.get_unique_share_records_with_access|length > 1 %}
                            <span>Partagé avec {{folder.get_unique_share_records_with_access|length}} personnes</span>
                            {% else %}
                            <span>Partagé avec {{folder.get_unique_share_records_with_access|length}} personne</span>
                            {% endif %}
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white" id="active-shares-tbody">

                    {% for share in folder.get_unique_share_records_with_access %}
                    <tr class="shadow shadow-sm group">
                        <td class="px-2 py-1 text-sm text-gray-600">
                            <div class="flex items-center space-x-2 justify-between">
                                <div class="flex flex-col min-w-0">
                                    <p class="font-semibold text-gray-600 truncate">{{ share.contact.full_name }}</p>
                                    <p class="text-sm text-gray-400 truncate">{{ share.contact.email }}</p>
                                </div>

                                <a href="{% url 'remove-contact-from-item' share.id %}"
                                    class="border border-red-500 px-2 hover:bg-red-50 text-red-500">Enlever</a>

                            </div>

                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>
            {% endif %}
        </div>

        <div class="flex space-x-4">
            <Button type="button" id="copyShareFileLinkBtn"
                class="shadow bg-white py-5 px-4 rounded-lg items-center flex space-x-4 w-full hover:bg-gray-50">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                    stroke="currentColor" class="size-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="m18.375 12.739-7.693 7.693a4.5 4.5 0 0 1-6.364-6.364l10.94-10.94A3 3 0 1 1 19.5 7.372L8.552 18.32m.009-.01-.01.01m5.699-9.941-7.81 7.81a1.5 1.5 0 0 0 2.112 2.13" />
                </svg>

                <h4 class="text-lg font-semibold">Copier le lien</h4>
            </Button>
        </div>

        <div class="hidden lg:block">
            <table class="border-b border-gray-300 w-full" id="file-table">
                <thead class="bg-gray-200">
                    <tr>
                        <th class="px-4 py-2 text-left text-md text-gray-600 font-semibold border-l-2 border-gray-200">
                            box/{{folder.full_path}}
                        </th>
                        <th class="w-[20%] md:w-[15%] px-4 py-2 text-left text-md text-gray-600 font-semibold">
                            Type
                        </th>
                        <th
                            class="w-[20%] md:w-[15%] px-4 py-2 text-left text-md text-gray-600 font-semibold text-right">
                            Taille
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white">

                    {% for item in items %}
                    <tr class="shadow shadow-sm group hover:bg-gray-50 hover:text-[#027991]">
                        <td class="px-4 py-2 text-md">
                            <div>
                                {% if item.type == 'folder' %}

                                <a href="{% url 'my-box' %}?dossier={{item.slug}}"
                                    class="text-sm flex space-x-2 items-center">

                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        class="h-4 w-4 shrink-0 text-gray-500">
                                        <path
                                            d="M19.5 21a3 3 0 0 0 3-3v-4.5a3 3 0 0 0-3-3h-15a3 3 0 0 0-3 3V18a3 3 0 0 0 3 3h15ZM1.5 10.146V6a3 3 0 0 1 3-3h5.379a2.25 2.25 0 0 1 1.59.659l2.122 2.121c.14.141.331.22.53.22H19.5a3 3 0 0 1 3 3v1.146A4.483 4.483 0 0 0 19.5 9h-15a4.483 4.483 0 0 0-3 1.146Z" />
                                    </svg>

                                    <span class="text-sm text-gray-600">{{item.display_name}}</span>
                                </a>

                                {% else %}

                                <a href="{% url 'file-details' item.slug %}"
                                    class="text-sm flex space-x-2 items-center">

                                    {% include 'partials/record-icon.html' with display_type_group=item.display_type_group %}

                                    <span class="text-sm text-gray-600">{{item.display_name}}</span>
                                </a>

                                {% endif %}

                            </div>
                        </td>
                        <td class="px-4 py-2 text-sm text-gray-600">{{item.display_type}}</td>
                        <td class="px-4 py-2 text-sm text-right text-gray-600">
                            {% if item.type == 'folder' %}
                            -
                            {% else %}
                            {{item.display_size}}
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}

                </tbody>
            </table>

            {% if items %}
            <div class="mt-4 flex gap-2">
                {% if items.has_previous %}
                <span class="px-2 py-1 mr-3 border border-gray-200 text-gray-600 text-sm">Page Précédente</span>
                {% endif %}

                <span class="mr-3 py-1 text-gray-600 text-sm ">Page {{ items.number }} sur {{items.paginator.num_pages}}</span>

                {% if items.has_next %}
                <span class="px-2 py-1 border border-gray-200 text-gray-600 text-sm">Page Suivante</span>
                {% endif %}
            </div>
            {% else %}
            <div class="flex items-start p-4 bg-yellow-100 border border-yellow-300 text-yellow-800 rounded-lg space-x-3 mt-2"
                role="alert">
                <div class="text-sm">
                    <p>Ce dossier est vide</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="min-w-0">
        <!-- table wrapper (optional overflow) -->
        <div class="max-h-96 overflow-y-auto">
            <table class="w-full table-fixed border-b border-gray-300">
                <thead class="bg-[#ffd500]">
                    <tr>
                        <th class="px-2 py-1 text-left text-lg font-semibold border-l-2 border-gray-200">
                            <a href="{% url 'my-contacts' %}">Mes Contacts</a>
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white">
                    {% if contacts %}
                    {% for contact in contacts %}
                    <tr>
                        <td class="px-2 py-1">
                            <div class="flex items-center justify-between space-x-2 min-w-0">
                                <!-- text container: min-w-0 so it can shrink; truncate for ellipsis -->
                                <div class="flex flex-col min-w-0">
                                    <p class="font-semibold text-gray-600 truncate">{{ contact.full_name }}</p>
                                    <p class="text-sm text-gray-400 truncate">{{ contact.email }}</p>
                                </div>

                                <a href="{% url 'add-contact-to-item' contact.id %}?folder={{folder.slug}}"
                                    class="flex-shrink-0 px-2 py-1 border border-gray-400 text-gray-700 text-sm hover:bg-gray-50">
                                    Ajouter
                                </a>

                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>

        {% if not contacts %}
        <div class="flex items-start p-4 bg-yellow-100 border border-yellow-300 text-yellow-800 rounded-lg space-x-3 mt-4"
            role="alert">
            <span class="text-sm">Vous n'avez aucun contact enregistré</span>
        </div>
        {% endif %}

        {% if contacts %}
        <div class="bg-white px-2 mt-4">

            <div class="flex flex-col space-y-2">
                <button type="button" id="addNewContactBtn"
                    class="w-full bg-[#027991] hover:bg-[#016073] text-white font-bold py-1 px-4 shadow shadow-md">
                    Ajouter un Contact
                </button>

                {% if contact_groups %}
                <button type="button" id="selectContactGroupBtn"
                    class="w-full bg-[#027991] hover:bg-[#016073] text-white font-bold py-1 px-4 shadow shadow-md">
                    Selectionner des Groupes
                </button>
                {% endif %}
            </div>

            <dialog id="addNewContactDialog"
                class="min-w-[400px] max-w-md p-6 rounded-md shadow-md w-full max-w-md fixed inset-0 m-auto bg-white">
                <form method="post" action="{% url 'create-new-contact' %}?folder={{folder.slug}}">
                    {% csrf_token %}

                    <div class="space-y-2">
                        <h5>Ajouter un contact</h5>

                        <div class="grid grid-cols-2 gap-2">
                            <div>
                                <label class="block text-gray-600 text-sm font-semibold mb-2" for="last_name">
                                    Nom
                                </label>
                                <input type="text" name="last_name" class="w-full border border-gray-300 px-3 py-2"
                                    required placeholder="Nom" maxlength="80">
                            </div>

                            <div>
                                <label class="block text-gray-600 text-sm font-semibold mb-2" for="first_name">
                                    Prénom
                                </label>

                                <input type="text" name="first_name" class="w-full border border-gray-300 px-3 py-2"
                                    required placeholder="Prénom" maxlength="80">
                            </div>
                        </div>

                        <div>
                            <label class="block text-gray-600 text-sm font-semibold mb-2" for="email">
                                E-mail
                            </label>
                            <input type="email" name="email" class="w-full border border-gray-300 px-3 py-2"
                                placeholder="Adresse e-mail" required>
                        </div>

                        {% if contact_groups %}
                        <div class="mt-2">
                            <label class="block text-gray-600 text-sm font-semibold mb-2" for="groups">
                                Groupes
                            </label>
                            <select name="groups" multiple
                                class="bg-white appearance-none border border-gray-200 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none">
                                {% for grp in contact_groups %}
                                <option value="{{grp.id}}">{{grp.name}}
                                </option>
                                {% endfor %}
                            </select>
                        </div>

                        {% endif %}
                    </div>

                    <div class="mt-4">
                        <button type="button" id="closeAddNewContactBtn"
                            class="border-4 border-gray-200 bg-white hover:bg-gray-100 text-gray-700 font-semibold py-1.5 px-4">Annuler</button>

                        <button type="submit"
                            class="bg-[#027991] hover:bg-[#016073] text-white font-bold py-2 px-4 border border-black">Ajouter</button>
                    </div>

                </form>
            </dialog>

            <dialog id="selectContactGroupDialog"
                class="min-w-[400px] max-w-md p-6 rounded-md shadow-md w-full max-w-md fixed inset-0 m-auto bg-white">
                <form method="post" action="{% url 'add-contact-group-to-shared-item' %}?folder={{folder.slug}}">
                    {% csrf_token %}

                    <div class="space-y-2">
                        <h5>Selectionner les Groupes</h5>

                        <select name="groups" multiple required
                            class="bg-white appearance-none border border-gray-200 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none mt-2">
                            {% for grp in contact_groups %}
                            <option value="{{grp.id}}">{{grp.name}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mt-4">
                        <button type="button" id="closeSelectContactGroupBtn"
                            class="border-4 border-gray-200 bg-white hover:bg-gray-100 text-gray-700 font-semibold py-1.5 px-4">Annuler</button>

                        <button type="submit"
                            class="bg-[#027991] hover:bg-[#016073] text-white font-bold py-2 px-4 border border-black">Ajouter</button>
                    </div>

                </form>
            </dialog>
        </div>
        {% endif %}


        <dialog id="copyShareFileLinkDialog"
            class="min-w-[400px] max-w-md p-6 rounded-md shadow-md w-full max-w-md fixed inset-0 m-auto bg-white">
            <div class="space-y-2">
                <h5>Lien partagé</h5>
                <textarea type="text" id="copyArea" class="w-full border border-gray-300 px-3 py-2" 
                    readonly rows="3">http://127.0.0.1:8000/partages/{{folder.slug}}</textarea>
            </div>
            <div class="mt-4">
                <button type="button" id="closCcopyShareFileLinkBtn"
                    class="bg-[#027991] hover:bg-[#016073] text-white font-bold py-2 px-4 border border-black">Fermer</button>
            </div>
        </dialog>
    </div>

<script>
    document.getElementById("copyArea").addEventListener("click", function() {
        this.select();
        navigator.clipboard.writeText(this.value);
    });
</script>

</div>



{% endblock %}