{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/twcss.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <title>{% block title %}Default Title{% endblock %}</title>
</head>

<body class="min-h-screen flex flex-col bg-[#F0F4F5]">

    {% include 'partials/navbar.html' %}

    <main class="flex-grow p-4">

        {% block content %}{% endblock %}

    </main>

    {% include 'partials/footer.html' %}

</body>

</html>