{% extends 'base.html' %}

{% block title %}Sahel Box | Votre boîte à fichiers{% endblock %}

{% block content %}
<h1 class="text-xl md:text-2xl lg:text-3xl font-bold mb-4 text-[#027991]">Mes Fichiers</h1>

<div>

    <div class="">
        <button class="bg-[#027991] hover:bg-[#016073] text-white text-sm px-4 py-1.5 font-semibold">
            Importer
        </button>
    </div>

    <div class="grid md:grid-cols-[5fr_1fr] sm:grid-cols-1 gap-2 mt-4">
        <div class="w-full">
            <form action="#" method="POST" class="flex items-center w-full">
                {% csrf_token %}
                <input type="text" name="search_term" placeholder="Entrer le nom du fichier pour chercher"
                    class="flex-grow border border-gray-300 rounded-l-md px-3 py-2 text-sm outline-none" required
                    maxlength="1500" />
                <button type="submit"
                    class="bg-[#027991] hover:bg-[#016073] text-white text-sm px-4 py-2 font-semibold">
                    Chercher
                </button>
            </form>
        </div>
    </div>

    <div class="grid md:grid-cols-[5fr_1fr] sm:grid-cols-1 gap-2 mt-4">
        <div>
            <table class="min-w-full border-b border-gray-300" id="file-table">
                <thead class="bg-gray-200">
                    <tr>
                        <th class="px-4 py-2 text-left text-md text-gray-700 font-bold border-l-2 border-gray-200">
                            Nom</th>
                        <th class="w-[27%] md:w-[25%]  px-4 py-2 text-left text-md text-gray-700 font-bold text-right">
                            Type
                        </th>
                        <th class="px-4 py-2 text-left text-md text-gray-700 font-bold text-right">
                            Taille
                        </th>
                        <th class="w-[25%] px-4 py-2 text-left text-md text-gray-700 font-bold">
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody class="bg-white">

                    {% for file in files %}

                    <tr class="shadow shadow-sm group">
                        <td class="px-4 py-2 text-md text-gray-600">
                            <a href="#" class="text-[#027991] font-semibold text-md mr-2">
                                {{ file.name }}
                            </a>
                        </td>
                        <td class="px-4 py-4 text-md text-gray-700 text-right">
                            {{file.type}}
                        </td>
                        <td class="px-4 py-4 text-md text-gray-700 text-right">
                            {{file.size}}
                        </td>
                        <td class="px-4 py-4 text-md text-gray-700">
                            ...
                        </td>
                    </tr>

                    {% endfor %}

                </tbody>
            </table>

            {% if files %}
            <div class="mt-4 flex gap-2">
                {% if files.has_previous %}
                <a href="?page={{ files.previous_page_number }}#file-table"
                    class="px-2 py-1 mr-3 border border-gray-200 text-gray-600 text-sm">Page Précédente</a>
                {% endif %}

                <span class="mr-3 py-1 text-gray-600 text-sm ">Page {{ files.number }} sur
                    {{files.paginator.num_pages }}</span>

                {% if files.has_next %}
                <a href="?page={{ files.next_page_number }}#file-table"
                    class="px-2 py-1 border border-gray-200 text-gray-600 text-sm">Page Suivante</a>
                {% endif %}
            </div>
            {% endif %}

        </div>
        <div id="right-pane">
            {% if folder %}
            <div id="folder-details" class="mb-4">
                <table class="min-w-full border-b border-gray-300">
                    <thead class="bg-[#90caf9]">
                        <tr>
                            <th class="px-4 py-2 text-left text-md font-semibold border-l-2 border-gray-200">
                                <div>
                                    <a href="#" class="flex items-center space-x-2 justify-between">
                                        <span>{{folder.name}}</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                            stroke-width="1.5" stroke="currentColor" class="size-6">
                                            <path stroke-linecap="round" stroke-linejoin="round"
                                                d="m8.25 4.5 7.5 7.5-7.5 7.5" />
                                        </svg>
                                    </a>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">

                        <tr class="shadow shadow-sm group">
                            <td class="px-4 py-2 text-md text-gray-600">
                                <div class="flex items-center space-x-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="h-5 w-5">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                                    </svg>
                                    <span>{{ folder.name }}</span>
                                </div>
                            </td>
                        </tr>

                        {% if folder.description %}
                        <tr class="shadow shadow-sm group">
                            <td class="px-4 py-2 text-md text-gray-600">
                                <div class="flex items-center space-x-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="currentColor" class="h-5 w-5">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="m11.25 11.25.041-.02a.75.75 0 0 1 1.063.852l-.708 2.836a.75.75 0 0 0 1.063.853l.041-.021M21 12a9 9 0 1 1-18 0 9 9 0 0 1 18 0Zm-9-3.75h.008v.008H12V8.25Z" />
                                    </svg>


                                    <span>{{folder.description}}</span>
                                </div>
                            </td>
                        </tr>
                        {% endif %}

                    </tbody>
                </table>
            </div>
            {% endif %}

            <table class="min-w-full border-b border-gray-300">
                <tbody class="bg-white">
                    <tr class="shadow shadow-sm group hover:bg-gray-50">
                        <td class="px-2 py-1 text-sm text-gray-600">
                            <a href="{% url 'my-box' %}?dossiers=fichiers-recents"
                                class="text-gray-600 hover:text-gray-700 text-sm flex space-x-2 items-center truncate overflow-hidden whitespace-nowrap">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="#2196f3" class="w-4 h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
                                </svg>

                                <span>Fichiers récents</span>
                            </a>
                        </td>
                    </tr>

                    <tr class="shadow shadow-sm group hover:bg-gray-50">
                        <td class="px-2 py-1 text-sm text-gray-600">
                            <a href="{% url 'my-box' %}"
                                class="text-gray-600 hover:text-gray-700 text-sm flex space-x-2 items-center truncate overflow-hidden whitespace-nowrap">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="#027991" class="w-4 h-4">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
                                </svg>

                                <span>Tous mes fichiers</span>
                            </a>
                        </td>
                    </tr>

                    <tr class="shadow shadow-sm group hover:bg-gray-50">
                        <td class="px-2 py-1 text-sm text-gray-600">
                            <a href="{% url 'my-trash' %}"
                                class="text-gray-600 hover:text-gray-700 text-sm flex space-x-2 items-center truncate overflow-hidden whitespace-nowrap">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="#ff006e" class="h-v w-4">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                </svg>


                                <span>Corbeille</span>
                            </a>
                        </td>
                    </tr>

                </tbody>
            </table>

            <div id="my-folders">

                {% if folders %}
                <table class="min-w-full border-b border-gray-300 mt-4">
                    <thead class="bg-[#ffd500]">
                        <tr>
                            <th class="px-4 py-2 text-left text-md font-semibold border-l-2 border-gray-200">
                                Mes dossiers
                            </th>
                        </tr>
                    </thead>
                    <tbody class="bg-white">

                        {% for my_folder in folders %}
                        <tr class="shadow shadow-sm group hover:bg-gray-50">
                            <td class="px-2 py-1 text-sm text-gray-600">
                                <a href="{% url 'my-box' %}?dossier={{my_folder.id}}"
                                    class="text-gray-600 hover:text-gray-700 text-sm flex space-x-2 items-center truncate overflow-hidden whitespace-nowrap">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke-width="1.5" stroke="#027991" class="w-4 h-4">
                                        <path stroke-linecap="round" stroke-linejoin="round"
                                            d="M2.25 12.75V12A2.25 2.25 0 0 1 4.5 9.75h15A2.25 2.25 0 0 1 21.75 12v.75m-8.69-6.44-2.12-2.12a1.5 1.5 0 0 0-1.061-.44H4.5A2.25 2.25 0 0 0 2.25 6v12a2.25 2.25 0 0 0 2.25 2.25h15A2.25 2.25 0 0 0 21.75 18V9a2.25 2.25 0 0 0-2.25-2.25h-5.379a1.5 1.5 0 0 1-1.06-.44Z" />
                                    </svg>

                                    <span>{{my_folder.name}}</span>
                                </a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
                {% endif %}

                <div class="mt-4">

                    <dialog id="addNewFolderDialog"
                        class="min-w-[400px] max-w-md p-6 rounded-md shadow-md w-full max-w-md fixed inset-0 m-auto bg-white">
                        <form method="post" action="{% url 'new-folder' %}">
                            {% csrf_token %}

                            <h2 class="text-xl font-bold mb-4">Ajouter un Nouveau Dossier</h2>
                            <div>
                                <div class="mb-2">
                                    <label class="block text-gray-600 text-sm font-semibold mb-2" for="name">
                                        Nom du Dossier
                                    </label>
                                    <input
                                        class="bg-white appearance-none border border-gray-200 rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none"
                                        id="name" name="name" type="text" maxlength="30"
                                        placeholder="Nom du Nouveau Dossier" required>
                                </div>
                            </div>

                            <button type="button" id="closeNewFolderBtn"
                                class="mr-4 border-4 border-gray-200 bg-white hover:bg-gray-100 text-gray-700 font-semibold py-1.5 px-4">Annuler</button>

                            <button type="submit"
                                class="mt-4 bg-gray-900 hover:bg-black text-white font-bold py-2 px-4 border border-black">Sauvegarder</button>
                        </form>
                    </dialog>

                    <button type="button" id="addNewFolderBtn"
                        class="text-sm border border-[#027991] text-[#027991] px-4 py-0.5">Ajouter un
                        dossier</button>
                </div>
            </div>

        </div>
    </div>
</div>



{% endblock %}